Flask~=2.2.2              # https://flask.palletsprojects.com/en/2.2.x/
Flask-Login~=0.6.0        # https://flask-user.readthedocs.io/en/v0.6/
Flask-Mail~=0.9.1         # https://pythonhosted.org/Flask-Mail/
requests==2.21.0          # https://requests.readthedocs.io/en/latest/
pyOpenSSL==22.1.0         # https://www.pyopenssl.org/en/latest/
dataset==1.5.2            # https://dataset.readthedocs.io/en/latest/
SQLAlchemy~=1.4.32        # https://docs.sqlalchemy.org/en/14/
SQLAlchemy-Utils~=0.38.2  # https://sqlalchemy-utils.readthedocs.io/en/latest/
requests-oauthlib~=1.3.1  # https://requests-oauthlib.readthedocs.io/en/v1.3.1/
pyaml-env~=1.1.5          # https://github.com/mkaranasou/pyaml_env
mysqlclient~=1.4.6        # https://github.com/PyMySQL/mysqlclient
gunicorn~=20.1.0          # https://docs.gunicorn.org/en/20.1.0/