body {
  margin: 0;
  padding: 0;
}

#home-container{
  background-color: #4F6456;
  display: grid;
  grid-template-columns: [line1] 50% [line2] 50% [line3];
  height: 100vh;
  width: 100vw;
}

#tree-img{
  grid-column: line1 / line2;
  place-self: end;
  align-self: end;
  height: 95vh;
  width: auto;

}

#login-container{
  grid-column: line2 / line3;
  align-self: center;
  place-self: center;
  border-radius: 50px;
  height: 70vh;
  width: 70vh;
  background-color: #333333;
  text-align: center;
}

#welcome-txt{
  position: relative;
  top: 15%;

  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.login-button {
  position: relative;
  top: 25%;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 10px;

  padding: 15px 30px;
  color: #7B7272;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

#google-icon{
  vertical-align: middle;
  width: 40px;
  padding-right: 10px;
}

