.dropdown-menu {
    border-radius: 10px;
    background-color: #C4C4C4;
}

.dropdown-menu::after {
    border-bottom: 15px solid #C4C4C4;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 15px;
    position: absolute;
    top: -11px;
}

.dropdown-item {
    font-weight: 600;
}

.modal-content {
    background-color: #181818;
    color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid #343a40;
}

.modal-body {
    padding: 5%;
}

.modal-footer {
    border-top: 1px solid #343a40;
}

.form-control {
    color: #dee2e6;
    background-color: #000;
    border: 1px solid #6c757d;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:-moz-focusring {
    color: transparent;
}

.form-control:focus {
    color: #dee2e6;
    background-color: #191d21;
    border-color: #b3d7ff;
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #343a40;
    opacity: 1;
}

.anyClass {
    height: 30vh;
    max-height: 30vh;
    overflow-y: scroll;
}