#profile-container{
  display: grid;
  grid-template-rows: [r1] 7vh [r2] auto [r3];
  height: 100vh;
  width: 100vw;
}

.top-bar{
    grid-row: r1;
    background-color: #000000;
    display: grid;
    grid-template-columns: [col1] 10% [col2] auto [col3] 10% [col4] ;
    place-items: center;
}

#home-button {
    grid-column: col1 / col2;
    background-color: #1B690E;
    border-radius: 5px;
    text-align: center;

    padding: 5px 15px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#hello-txt {
    grid-column: col2 / col3;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#logout-button{
    grid-column: col3 / col4;
    background-color: #444857;
    border-radius: 5px;
    text-align: center;

    padding: 5px 15px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#tree-menu {
    grid-row: r2;
    background-color: #444444;
}

.menu-box {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 13%;
    height: 15%;
    margin: 1.5%;
    display: inline-block;

    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#add-box {
    vertical-align: top;
    text-align: center;
}

#add-box:hover {
    cursor: pointer;
    background-color: #7B7272;
}

#add-button-img {
    width: 35%;
    padding: 2%;
}

#add-txt {
    display: block;
}

.tree-name {
    color: #000000;
    position: relative;
    top: 15%;
    left: 10%;
    text-decoration: none;
}

.trash-img {
    cursor: pointer;
    width: 10%;
    position: relative;
    display: block;
    top: 50%;
    left: 80%;
}


