#profile-container{
    display: grid;
    grid-template-rows: 7vh auto;
    height: 100vh;
    width: 100vw;
}

.top-bar{
    grid-row: 1/2;
    background-color: #222222;
    display: grid;
    grid-template-columns: 10vw 10vw auto 10vw 10vw;
    place-items: center;
}

.profile-button {
    border-radius: 5px;
    text-align: center;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#home-button {
    grid-column: 1/2;
    background-color: #1B690E;
}

#hello-txt {
    grid-column: 3/4;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#help-button {
    grid-column: 4/5;
    background-color: #577949;
    justify-self: right;
}

#help-button:hover {
  cursor: pointer;
}

#logout-button{
    grid-column: 5/6;
    background-color: #444857;
}

#tree-menu {
    grid-row: 2/3;
    background-color: #444444;
}

.menu-box {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 13vw;
    height: 15vh;
    margin: 1.5%;
    display: inline-block;

    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.menu-box:hover {
    cursor: pointer;
    background-color: #7B7272;
}

#add-box {
    vertical-align: top;
    text-align: center;
}

#add-button-img {
    width: 40%;
    padding: 5%;
}

#add-txt {
    display: block;
}

.tree-box {
    display: inline-grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;
}

.tree-name {
    grid-area: 1/1/2/2;
    color: #000000;
    padding: 10px 15px;
}

.nav-item {
    grid-area: 2/2/3/3;
    place-self: center;
}

.nav-img {
    width: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
}

