body {
    background: #FF5733;
}

.navbar{
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    width: 20vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navbar-item{
    padding-top: 3vh;
    border: #FFFFFF;
    background: none;
    color: #FFFFFF;
}

.board {
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 60vw;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 20vw;
    line-height: 0.2;
}

.title{
    text-align: center;
    padding-top: 25vh;
    font-size: 2vw;
    font-weight: 600;
}

.subtitle{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
}

/*!* The Modal (background) *!*/
/*.modal {*/
/*  display: none; !* Hidden by default *!*/
/*  position: fixed; !* Stay in place *!*/
/*  z-index: 1; !* Sit on top *!*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%; !* Full width *!*/
/*  height: 100%; !* Full height *!*/
/*  overflow: auto; !* Enable scroll if needed *!*/
/*  background-color: rgb(0,0,0); !* Fallback color *!*/
/*  background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*  padding-top: 60px;*/
/*}*/

/*!* Modal Content/Box *!*/
/*.modal-content {*/
/*  background-color: #fefefe;*/
/*  margin: 5px auto; !* 15% from the top and centered *!*/
/*  border: 1px solid #888;*/
/*  width: 80%; !* Could be more or less, depending on screen size *!*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
/*  !* Position it in the top right corner outside of the modal *!*/
/*  position: absolute;*/
/*  right: 25px;*/
/*  top: 0;*/
/*  color: #000;*/
/*  font-size: 35px;*/
/*  font-weight: bold;*/
/*}*/

/*!* Close button on hover *!*/
/*.close:hover,*/
/*.close:focus {*/
/*  color: red;*/
/*  cursor: pointer;*/
/*}*/

/*!* Add Zoom Animation *!*/
/*.animate {*/
/*  -webkit-animation: animatezoom 0.6s;*/
/*  animation: animatezoom 0.6s*/
/*}*/

/*@-webkit-keyframes animatezoom {*/
/*  from {-webkit-transform: scale(0)}*/
/*  to {-webkit-transform: scale(1)}*/
/*}*/

/*@keyframes animatezoom {*/
/*  from {transform: scale(0)}*/
/*  to {transform: scale(1)}*/
/*}*/
