<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100">Instructions, Help and FAQ</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h4>Getting Started</h4>
                <p>Click the "Create Tree" box in your forest menu and give it a name. From here, you can add members and relations to your tree.</p>
                <p>The interface for editing the tree can be moved around using either the arrow keys or WASD. If you find your tree growing too large for the screen, you can zoom in and out by scrolling.</p>
                <br>

                <h4>Editing and Deleting a Tree</h4>
                <p>Click on any of the trees in your forest to edit them. If you want to delete a tree, you can do so by [...add del tree desc...], but remember that once it's gone, you can't get it back.</p>
                <br>

                <h4>Creating, editing and deleting Members</h4>
                <p>Click the "Create Member" button at the left side of the interface. You have to give your member a name, but everything else can be filled in later. When your member is created, it will appear in your tree. It won't be connected to your other members yet, but you can change that by adding a relation.</p>
                <p>Click on your member and its details will pop up to your right. Make any changes you want in these fields and hit save.</p>
                <p>If your member is no longer needed, click on it and hit the delete button in the panel. Any relations connected to your member will disappear with the member, so delete carefully.</p>
                <br>

                <h4>Creating, editing and deleting Relations</h4>
                <p>When you have a member selected, click the "Create Relation" button at the left side of the interface. From here, click another member or a relation between two members. When your relation is created, it will appear in your tree as a solid black line, but you can change that later.</p>
                <p>Click on your relation and drag it around until it fits in with the rest of your tree and looks how you want it to. Doing this won't shift existing members and relations, so don't let that stop you while you customize. You can also click on an existing relation and check the box next to "Dotted" for a slightly different look.</p>
                <p>If your relation is no longer needed, click on it and click the delete button in the panel that pops up. The members connected to your relation will go unaffected when you do this, but the line will disappear.</p>
                <br>

                <h4>Adding and Removing Collaborators</h4>
                <p>If you want some help nurturing your tree, add a collaborator(s) by [...add collab desc...]. If you are the creator of a tree, only you have the right to add or remove collaborators or delete the tree. Everything else (creating, editing, and deleting members and relations) is fair game to both you and your collaborators. If you are the collaborator of a tree, it will appear in your forest like any other tree [...except?], but you won't be able to delete it or add or remove other collaborators.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>