<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sapling - Help</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sapling application instruction page.">
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="leftheader">
            <h1>Sapling</h1>
            <a href="index.html">Home</a> | 
            <a href="help.html" aria-current="page"><span style="border-bottom: 2px solid #333F20;">Instructions, Help and FAQ</span></a> | 
            <a href="edittree.html">Edit Tree</a> | 
            <a href="members.html">Member List Example</a>
        </div>
    </header>

    <main>
        <div class="wrapper" style="margin-top: 8rem;">
            <div class="content">
            <h3>Getting Started</h3>
            <p>Click the "Create Tree" box in your forest menu and give it a name. From here, you can add members and relations to your tree.</p>
            <h3>Editing and Deleting a Tree</h3>
            <p>Click on any of the trees in your forest to edit them. If you want to delete a tree, you can do so by [...add del tree desc...], but remember that once it's gone, you can't get it back.</p>
            <h3>Creating, editing and deleting Members</h3>
            <p>Click the "Create Member" button at the top right of the interface. You have to give your member a name, but everything else can be filled in later. When your member is created, it will appear in your tree. It won't be connected to your other members yet, but you can change that by adding a relation.</p>
            <p>Click on your member [...add edit member desc...]</p>
            <p>If your member is no longer needed, click [...add del member desc...]. Any relations connected to your member will disappear with the member, so delete carefully.</p>
            <p><span style="font-style: italic;">Note:</span> From your tree page [...where?], you can view a simple, sortable list of your members and edit them from there. Use this when your tree grows large and editing members within the tree feels tedious.</p>
            <h3>Creating, editing and deleting Relations</h3>
            <p>Click the "Create Relation" button at the top right of the interface. Then click the first member of your relation, followed by the second. When your relation is created, it will appear in your tree as a solid black line, but you can change that later.</p>
            <p>Click on your relation and drag it around until it fits in with the rest of your tree and looks how you want it to. Doing this won't shift existing members and relations, so don't let that stop you while you customize. Click on any of your existing relations and a menu of options will appear, including the color, weight, and style (like solid, dashed, etc.). You can also use this menu to add a label to your relation and resolve any ambiguities.</p>
            <p>If your relation is no longer needed, click [...add del relation desc...]. The members connected to your relation will go unaffected when you do this, but the line will disappear, along with its labels and customizations.</p>
            <h3>Adding and Removing Collaborators</h3>
            <p>If you want some help nurturing your tree, add a collaborator(s) by [...add collab desc...]. If you are the creator of a tree, only you have the right to add or remove collaborators or delete the tree. Everything else (creating, editing, and deleting members and relations) is fair game to both you and your collaborators. If you are the collaborator of a tree, it will appear in your forest like any other tree [...except?], but you won't be able to delete it or add or remove other collaborators.</p>
            </div>
        </div>
    </main>

    <footer>
        <p>Sapling &copy;2022 Joseph Montalvo, Trevor Strickland, Khang Tran, and Maddie Bauso.</p>
    </footer>
</body>
</html>