{% extends "layout.html" %}
{% block content %}

<div id="home-container">
    <div id="info-container">
        <h4>Welcome to Sapling!</h4>
        <p>Make highly flexible and customizable family trees and invite your family to collaborate!</p>
        <br>
        <h4>What is Sapling?</h4>
        <p>Sapling is an application for creating family trees that allows you to represent your family in the way you feel is most appropriate. The arrangement of members of your family and their relationships is highly flexible and entirely up to you. With the ability to customize your relationships to have colors and labels of your choice, you won't get stuck in anyone's rigid expectations. Create multiple trees to represent your forest of families and then invite your family to help you nurture them by adding collaborators.</p>
        <br>
        <h4>About the Creators</h4>
        <p>Sapling was created by <em>Joseph Montalvo, Trevor Strickland, Khang Tran, and Maddie Bauso</em> during the Software Engineering course at SUNY Oswego.</p>
    </div>

    <div id="login-container">
        <a id="welcome-txt">Sign In to Family Tree</a>
        <a class="login-button" id="google-button" href="{{ url_for('auth.login') }}" role="button">
          <img alt="google icon" class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
          Sign In via Google
        </a>
        <a id="help-tag">
            Instructions
        </a>
    </div>

    <div class="footer">
        <p>Sapling ©2022 Joseph Montalvo, Trevor Strickland, Khang Tran, and Maddie Bauso.</p>
    </div>

    {% include "help.html" %}
</div>

<script>
    const help_button = document.getElementById("help-tag")
    help_button.onclick = function () {
        $("#help-modal").modal("show");
    }
</script>

{% endblock %}