{% extends "layout.html" %}
{% block content %}

<div id="profile-container">
    <div class="top-bar">
        <a id="home-button" href="{{ url_for('main.profile') }}">
            Home
        </a>
        <a id="hello-txt">Welcome to Family Tree, {{ name }}!</a>
        <a id="logout-button" href="{{ url_for('auth.logout') }}">
            Sign Out
        </a>
    </div>

    <div id="tree-menu">
        <div class="menu-box create-box" id="create-button" onclick="create()">
            <img id="add-button-img" src="/static/images/add-button.png" alt="add icon">
            <a id="create-txt">New Tree</a>
        </div>
    </div>
</div>

<script>
    function create() {
        const name = document.createTextNode("Test box");

        const holder = document.createElement("a");
        holder.setAttribute('class', 'tree-name');

        const trash = document.createElement("img")
        trash.setAttribute("class", "trash-img")
        trash.setAttribute("src", "/static/images/trash.png")
        trash.setAttribute("alt", "trash icon")
        trash.setAttribute("onclick", "deleteTree(this)")

        const box = document.createElement("div");
        box.setAttribute('class', 'menu-box tree-box');

        holder.appendChild(name);
        box.appendChild(holder);
        box.appendChild(trash);
        $(box).insertBefore("#create-button");
    }

    function deleteTree(element) {
        $(element).parent('div').remove();
    }
</script>

{% endblock %}