{% extends "layout.html" %}
{% block content %}

<div id="profile-container">
    <div class="top-bar">
        <a id="home-button" href="{{ url_for('main.profile') }}">
            Home
        </a>
        <a id="hello-txt">Welcome to Family Tree, {{ name }}!</a>
        <a id="logout-button" href="{{ url_for('auth.logout') }}">
            Sign Out
        </a>
    </div>

    <div id="tree-menu">
        <div class="menu-box" id="add-box">
            <img id="add-button-img" src="/static/images/add-button.png" alt="add icon">
            <a id="add-txt">New Tree</a>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="form">
                    <div class="modal-header">
                        <h5 class="modal-title">Create New Tree</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" id="modal-body">
                        <div class="form-group mb-3">
                            <label for="message" class="col-form-label">Message:</label>
                            <input type="text" class="form-control" id="message" placeholder="Enter the tree's name!" maxlength="18">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function(){
        try {
            const treeNames = {{ tree_keys|tojson }};
            treeNames.forEach(function (key) {
                create(key);
            })
        } catch (e) {
            console.error(e);
        }
    }
</script>

{% endblock %}