{% extends "layout.html" %}
{% block content %}

<div id="profile-container">
    <div class="top-bar">
        <a id="home-button" href="{{ url_for('main.profile') }}">
            Home
        </a>
        <a id="hello-txt">Welcome to Family Tree, {{ name }}!</a>
        <a id="logout-button" href="{{ url_for('auth.logout') }}">
            Sign Out
        </a>
    </div>

    <div id="tree-menu">
        <div class="tree-box" id="create-button" onclick="create()">New Tree</div>
    </div>
</div>

<script>
    function create() {
      const name = document.createTextNode("test-box");
      const holder = document.createElement("a");
      holder.setAttribute('id', 'tree-name');
      const box = document.createElement("div");
      box.setAttribute('class', 'tree-box');

      holder.appendChild(name);
      box.appendChild(holder);
      $(box).insertBefore("#create-button");
    }
</script>

{% endblock %}

