<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Family-Tree</title>
    <link rel="stylesheet" href="../static/home_style.css" type="text/css">
</head>

<body>
    <div class="navbar">
        <button class="navbar-item">Home</button>
        <button class="navbar-item" onclick="document.getElementById('id01').style.display='block'">Login</button>
        <button class="navbar-item">Sign Up</button>
    </div>

<!--    &lt;!&ndash; The Modal &ndash;&gt;-->
<!--    <div id="id01" class="modal">-->
<!--        <span onclick="document.getElementById('id01').style.display='none'"-->
<!--              class="close" title="Close Modal">&times;</span>-->

<!--        &lt;!&ndash; Modal Content &ndash;&gt;-->
<!--        <form class="modal-content animate">-->
<!--            <div class="container">-->
<!--                <label for="uname"><b>Username</b></label>-->
<!--                <input type="text" placeholder="Enter Username" name="uname" required>-->

<!--                <label for="psw"><b>Password</b></label>-->
<!--                <input type="password" placeholder="Enter Password" name="psw" required>-->

<!--                <button type="submit">Login</button>-->

<!--                <label>-->
<!--                    <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--                </label>-->
<!--            </div>-->

<!--            <div class="container" style="background-color:#f1f1f1">-->
<!--                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>-->
<!--                <span class="psw">Forgot <a href="#">password?</a></span>-->
<!--            </div>-->
<!--      </form>-->
<!--    </div>-->

    <div class="board">
        <p class="title">
          Welcome to Family-Tree
        </p>
        <p class="subtitle">
          You can use this web application to build and share your family's tree
        </p>
    </div>
</body>


</html>